.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.task-completed {
    opacity: 0.5;

}

.task {
    font-weight: bold;
}

.filter-header {
    border-radius: 50%;
    display: inline-block;
    background-color: #517575;
    margin-left: 20px;
    padding: 5px;
    font-size: 15px;
    color: white;
    min-width: 100px;
    text-align: center;
}

.button-active {
    background-color: #517575;
    color: white;
    font-weight: bold;
}

.button-passive{
    opacity: 0.5;
}

.taskList{
    min-height: 100px;
}

.emptymessage{
    font-size: 12px;
    color: red;
    min-height: 132px;
}

.errorMessage{
    font-size: 12px;
    color: red;


}

.input-error{
    outline: none;
    border: 2px solid red;
}
